name: CI

env:
  JDK_JAVA_OPTIONS: -XX:+PrintCommandLineFlags -Xmx6G -Xss4M -XX:+UseG1GC
  NODE_OPTIONS: --max_old_space_size=6144

on:
  pull_request:
  push:
    branches: ['main']
  release:
    types:
      - published
      - edited

jobs:
  lint:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      fail-fast: false
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v3.0.0
        with:
          fetch-depth: 0
      - name: Setup Scala and Java
        uses: coursier/setup-action@v1
        with:
          apps: sbt
      - name: Cache scala dependencies
        uses: coursier/cache-action@v6
      - name: Lint code
        run: sbt fmtCheck fixCheck

  build:
    runs-on: ubuntu-latest
    timeout-minutes: 40
    strategy:
      fail-fast: false
      matrix:
        java: ['temurin:17', 'temurin:21']
        scala: ['2.12.20', '2.13.16', '3.3.6']
        platform: ['JVM', 'Native', 'JS']
    steps:
    - uses: actions/checkout@v3.0.0
      with:
        fetch-depth: 0
    - uses: coursier/setup-action@v1
      with:
        jvm: ${{ matrix.java }}
        apps: sbt
    - name: Cache scala dependencies
      uses: coursier/cache-action@v6
    - name: Install Bohem GC
      if: matrix.platform == 'Native'
      run: sudo apt-get update && sudo apt-get install -y libgc-dev
    - name: Run tests
      run: sbt ++${{ matrix.scala }}! test${{ matrix.platform }}

  mima_check:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout current branch
        uses: actions/checkout@v4
        with:
          fetch-depth: 300
      - name: Fetch tags
        run: git fetch --depth=300 origin +refs/tags/*:refs/tags/*
      - uses: coursier/setup-action@v1
        with:
          jvm: temurin:21
          apps: sbt
      - run: sbt +mimaReportBinaryIssues

  ci:
    runs-on: ubuntu-latest
    needs: [build,lint,mima_check]
    steps:
      - run: echo "All checks passed"

  publish:
    runs-on: ubuntu-latest
    timeout-minutes: 45
    needs: [build,lint]
    if: github.event_name != 'pull_request'
    steps:
      - uses: actions/checkout@v3.0.0
        with:
          fetch-depth: 0
      - uses: coursier/setup-action@v1
        with:
          apps: sbt
      - run: sbt ci-release
        env:
          PGP_PASSPHRASE: ${{ secrets.PGP_PASSPHRASE }}
          PGP_SECRET: ${{ secrets.PGP_SECRET }}
          SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
          SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}

